fastapi>=0.68.0
uvicorn>=0.15.0
python-dotenv>=0.19.0
langgraph>=0.0.0
langchain-community>=0.0.0
langchain-core>=0.0.0
pydantic>=2.0.0
python-multipart>=0.0.5
requests>=2.26.0
mysql-connector-python>=8.0.20
tabulate>=0.8.9
langchain_ollama>=0.3.7
sqlglot>=0.7.1